


.main-header {
	text-align: center;
	background-color: #000;

}

.navbar-header {
	background-color: #000;
}

h1 {
	color: orange;
	font-size: 40px;
	text-shadow: 1px 1px 0 #fff;
}


h2 {
	color: aqua;
	font-size: 60px;
	text-shadow: 1px 1px 0 #fff;
	font-family: 'Shadows Into Light', cursive;
}

body {
	background-color: aqua;
}

.row {
	text-align: center;
}

h4 {
	color: orange;
	text-align: center;
	font-size: 25px;
	font-family: 'Shadows Into Light', cursive;
	text-shadow: 1px 1px 0 #000;
}


p, li {
	list-style-type: none;
	text-align: center;
	font-size: 25px;
	font-family: 'Shadows Into Light', cursive;
}


h3 {
	color: orange;
	font-size: 30px;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
}

h5 {
	color: orange;
	font-size: 23px;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
}

ul {
	list-style-type: none;
}

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background: rgba(0,0,0,.7); 
    text-align:center;
}

#lightbox p {
    text-align:right; 
    color:#fff; 
    margin-right:20px; 
    font-size:12px; 
}

#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
}

<<<<<<< HEAD
=======
button {
	-webkit-appearance: none;
}

>>>>>>> fe27e5ab79ebedd349a52e42136d8b879e47b922

/*.img-responsive {
	background-size: cover;
	height: 250px;
	width: 100%;
}*/

/*#wordwall {
	background-image: url("../img/wordwall8:10.png");
	background-size: cover;
	height: 250px;
	width: 100%;
}
*/
/*#cheer {
	background-image: url("../img/cheer.jpg");
	background-size: cover;
	height: 250px;
	width: 100%;
}*/

/*#contactinfo {
	background-image: url("../img/contact-info.png");
	background-size: cover;
	height: 250px;
	width: 100%;
}*/

/*#pto {
	background-image: url("../img/pto.png");
	background-size: cover;
	height: 250px;
	width: 100%;
}
*/