


.main-header {
	text-align: center;
	background-color: #000;

}

h1 {
	color: orange;
	font-size: 40px;
	text-shadow: 1px 1px 0 #fff;
}


h2 {
	color: aqua;
	font-size: 60px;
	text-shadow: 1px 1px 0 #fff;
	font-family: 'Shadows Into Light', cursive;
}

body {
	background-color: aqua;
}

.row {
	text-align: center;
}

h4 {
	color: orange;
	text-align: center;
	font-size: 25px;
	font-family: 'Shadows Into Light', cursive;
	text-shadow: 1px 1px 0 #000;
}


p, li {
	list-style-type: none;
	text-align: center;
	font-size: 25px;
	font-family: 'Shadows Into Light', cursive;
}


h3{
	color: orange;
	font-size: 30px;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
}

h5 {
	color: orange;
	font-size: 23px;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
}

ul {
	list-style-type: none;
}

.img-responsive {
	background-size: cover;
	height: 250px;
	width: 100%;
}

#contactinfo {
	background-image: url("../img/contact-info.png");
	background-size: cover;
	height: 250px;
	width: 100%;
}

