.main-header {
	text-align: center;
	background-color: #000;

}

.navbar-header {
	background-color: #000;
}

h1, caption {
	color: orange;
	font-size: 40px;
	text-shadow: 1px 1px 0 #fff;
	text-align: center;
}


h2 {
	color: aqua;
	font-size: 60px;
	text-shadow: 1px 1px 0 #fff;
	font-family: 'Shadows Into Light', cursive;
}

body {
	background-color: aqua;
}

.row {
	text-align: center;
}

h4 {
	color: black;
	text-align: center;
	font-size: 25px;
	font-family: 'Shadows Into Light', cursive;
	text-shadow: 1px 1px 0 #fff;
}


 li {
	list-style-type: none;
	text-align: center;
	font-size: 25px;
	font-family: 'Shadows Into Light', cursive;
}

p {
	list-style-type: none;
	text-align: center;
	font-size: 25px;

}


h3 {
	color: orange;
	font-size: 30px;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
}

h5 {
	color: orange;
	font-size: 23px;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
}

ul {
	list-style-type: none;
}

h1 {
      text-align: center;
      font-family: Sans-Serif;
      font-weight: bold;
      font-size: 36px;
      margin: 20px 0 0 0;
      padding: 0;
    }

.green {
  color: green;
}

.red {
  color: red;
}

    #quizSubmit {
    	-webkit-appearance: none;
    	border-radius: 10px;
    	position: absolute;
    	transition: .5s ease;
    	top: 100%;
    	left: 47%;
    }



   

    #whole {
      margin-left: auto;
      margin-right: auto;
    }

    table.problem {
      font-family: Sans-Serif;
      font-size: 2em;
      text-align: right;
      /*border-bottom: solid;*/
      margin: 40px;
    }


    .studentAnswers {
    	border-top: solid;
    	height: 2em;
    	width: 2em;
    	text-align: right;

    }

    .input {
    	text-align: right;
    }

    